
.CompPopup-openBtn{
    position: absolute;
    width: 120px;
    height: 35px;
    transform: translate(1100%,200%) ;
    text-align: center;
    background-color: #4870c5;
    color: white;
    border-radius: 5px;
    border-color: #a7a7a91b;
    padding: 8px 0;
    transition: all 0.2s;
    font-style: solid;
    cursor: pointer;
    font-size: 15px;
}


.CompPopup-openBtn:hover{
    background-color: rgba(79, 14, 14, 0.41);
    transition: 0.3s;
}
/* .CompPopup-close-button{
    display: block;
    margin:0 0 20px auto ;
    padding-top:  3px;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #a4abe9;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
} */
/* @media only screen and (max-width: 1200px){

    .CompPopup-openBtn{
        position: absolute;
        width: 100px;
        height: 32px;
        transform: translate(800%,200%) ;
        text-align: center;
        background-color: #4870c5;
        font-size: 15px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 8px 0;
        transition: all 0.2s;
  
        
    }

} */

@media only screen and (max-width: 768px) {
    


    .CompPopup-openBtn{
        position: absolute;
        width: 120px;
        height: 35px;
        transform: translate(400%,250%) ;
        text-align: center;
        background-color: #4870c5;
        color: white;
        padding: 8px 0;
        transition: all 0.2s;
        font-style: solid;
        font-size: 15px;
        
    }
    .CompPopup-openBtn:hover{
        background-color: rgba(79, 14, 14, 0.41);
        transition: 0.3s;
    }
    /* .CompPopup-close-button{
        margin-right: -10px;
        font-size: 35px;
        width: 32px;
        height: 32px;
       
    } */
    

  }