.cd-container {
    background: #2F2F32;
    display: block;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1% 2% 2%;
    margin-top: 117px;
    z-index: 1;
}


.cd-text {
    justify-content: center;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 10px;

}

.cd-buttons {
    display: flex;
    flex-direction: row;

}

.cd-buttons div {
    margin: 0px 10px;

}