.inputField {
    padding: 10px;
    border-radius: 8px;
    font-size: 19;
    color: rgb(0, 0, 0);
    border-style: solid;
    background-color: #eeeeee;
    border-color: #838383ca;
    box-shadow: #403d6c48;
    margin-bottom: 10px;
    width: 250px;
    
  }

  .inputField::placeholder {
    font-size: 15px;
    color: #383838;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }

  .inputField:focus{
    border-color: #7c7c73; 
    box-shadow: 0 0 4px #686262; 
    outline: none; 
  }

  .dateField{
    padding: 10px 110px 10px 47px;
    border-radius: 8px;
    font-size: 19;
    color: #383838;
    border-style: solid;
    background-color: #eeeeee;
    border-color: #838383ca;
    box-shadow: #403d6c48;
    margin-bottom: 10px;
  }

  .dateField::placeholder {
    font-size: 15px;
    color: #383838;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }

  .dateField:focus{
    border-color: #d8d8d1; 
    box-shadow: 0 0 4px #d8d8d1; 
    outline: none; 
  }

  .registerdateField{
    padding: 10px 135px ;
    border-radius: 8px;
    font-size: 19;
    /* color: #383838; */
    border-style: solid;
    background-color: #eeeeee;
    border-color: #838383ca;
    box-shadow: #403d6c48;
    margin-bottom: 10px;
    margin-left: 2px;
    
  }

  .registerdateField::placeholder {
    font-size: 15px;
    /* color: #383838; */
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: #aaa !important;
}
  input[type="date"]:before {
    content: attr(placeholder) !important;
    font-size: 15px;
    color: #383838;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-top: -2px;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
    color: transparent;
  }
  






  .registerdateField:focus{
    border-color: #d8d8d1; 
    box-shadow: 0 0 4px #d8d8d1; 
    outline: none; 
  }




  .project-inputField{
    padding: 10px 50px;
    width: 80%;
    border-radius: 8px;
    font-size: 19;
    color: rgb(0, 0, 0);
    border-style: solid;
    background-color: #eeeeee;
    border-color: #838383ca;
    box-shadow: #403d6c48;
    margin-bottom: 10px;
  }

  .project-inputField::placeholder {
    font-size: 15px;
    color: #383838;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }


  .taskname-inputField{
    padding: 10px ;
    width: 298px;
    border-radius: 8px;
    font-size: 19;
    color: rgb(0, 0, 0);
    border-style: solid;
    background-color: #eeeeee;
    border-color: #838383ca;
    box-shadow: #403d6c48;
    margin-bottom: 10px;
  }

  .taskname-inputField::placeholder {
    font-size: 15px;
    color: #383838;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }