 /* body {
  background-image: url(../images/dark-mountains-mac-4k-r3aalym6pvjbkknj.jpg);
  background-position: center;
 
  background-size: cover;

}  */

*{
  margin-top: 1000px;
  padding: 0;
  box-sizing: border-box;
 }
 
 .nav{
  background-color: black;
 }
